body {
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif;
}

/* TOP BAR HEADER  */
/* Remove underline and style <a> tags */
a {
  text-decoration: none; /* Remove underline */
  color: #333; /* Set the link color */
}

a:hover {
  color: #4981b3; /* Set the link color on hover */
}
.top-bar {
  background: #7aaec4;
  height: 2.8rem;
  padding: 0.5rem 0;
}

.top-bar a {
  color: #fff;
  text-decoration: none;
  font-size: 1.1rem;
}

/* NAVIGATION  */
.navbar-brand img {
  height: 3rem;
}

.navbar {
  font-size: 1.15rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.nav-item {
  padding: 0.5rem;
}
.nav-link {
  color: #5b5555 !important;
}

.nav-link .active,
.nav-link:hover {
  color: #4981b3 !important;
}

/* CAROUSEL */

#carousel {
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
}

.carousel-inner {
  max-height: 38rem !important;
}

/* Carousel transition speed  */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  transition: transform 1.2s ease;
}

/* Carousel Content  */
.carousel-caption {
  position: absolute;
  top: 54%;
  transform: translateY(-50%);
  text-transform: uppercase;
}
.bg-custom {
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  border-radius: 1rem;
}
.carousel-caption h1 {
  font-size: 3.8rem;
  text-shadow: 0.1rem 0.1rem 0.3rem rgba(0, 0, 0, 1);
}
.border-primary {
  border-top: 0.2rem solid #4981b3 !important;
}
.carousel-caption h3 {
  font-size: 2.2rem;
  text-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 1);
}

.btn-lg {
  border-radius: 0;
  text-transform: uppercase;
  font-size: 1rem;
  border-width: medium;
}
.btn-danger {
  background-color: #ac2615;
  border: 0.05rem solid #ac2615;
}
.btn-primary {
  background-color: #4981b3;
  border: 0.05rem solid #4981b3;
}
.btn-primary:hover,
.btn-primary:focus {
  background-color: #68a0d2 !important;
  border: 0.05rem solid #68a0d2 !important;
}

/* FIXED BACKGROUND IMG  */

.fixed {
  background-image: url("../img/day.jpg");
  position: fixed;
}
.fixed-background {
  padding: 10rem 0;
}

/* Fixed background Image  */

.fixed-background {
  position: relative;
  width: 100%;
  z-index: 100 !important;
}

.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -999 !important;
}

.fixed {
  z-index: -999 !important;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}

/* FOOTER  */

footer {
  background-color: #383838;
  padding: 1rem 2rem 3rem;
}
footer img {
  height: 3.5rem;
  margin: 1.5rem auto;
}

footer p,
footer a,
.socket a {
  color: white;
  text-decoration: none;
}

ul.social {
  list-style-type: none;
  display: flex;
  max-width: 16rem;
  margin: 0 auto;
  padding: 0;
}

ul.social li {
  margin: 0 auto;
}
footer .svg-inline--fa {
  font-size: 2.3rem;
}
footer .svg-inline--fa:hover {
  color: #68a0d2;
}

/* SOCKET  */

.socket {
  background-color: #222222;
  border-top: 0.1rem solid #4981b3;
}

/* MEDIA QUERIES   */

/* Devices under 119px (xl)  */
@media (max-width: 1199.98px) {
  .carousel-caption h1 {
    font-size: 2.8rem;
  }

  .carousel-caption h3 {
    font-size: 1.8rem;
  }
}

/* Devices under 992px (lg)  */
@media (max-width: 991.98px) {
  .carousel-caption h1 {
    font-size: 2.5rem;
  }

  .carousel-caption h3 {
    font-size: 1.5rem;
  }
  btn-lg {
    font-size: 0.95rem;
  }
}

/* NEWS HTML */
.fixed-background h1 {
  padding: 1rem;
}
.news-item {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}
.news-item:hover {
  transform: scale(1.05);
}
.news-item img {
  height: 200px;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}
.news-item:hover img {
  transform: translateY(-20px);
}
.news-item a {
  color: #333; /* Set the desired color for the title */
  text-decoration: none; /* Remove underline */
}
.news-item a:hover {
  color: #4981b3;
}
.news-item h4 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.news-item:hover h4 {
  color: #007bff;
}
.news-meta a {
  color: #777;
  text-decoration: none;
}
.news-meta a:hover {
  color: #007bff;
}
/* Add this to customize the "Check Out!" button */
.news-item .btn-outline-dark {
  background-color: transparent;
  border-color: #343a40;
  color: #343a40;
}
.news-item .btn-outline-dark:hover {
  background-color: #343a40;
  color: #fff;
}

/* Pagination */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination ul {
  list-style: none;
  display: flex;
}

.pagination li {
  margin: 0 5px;
  padding: 8px 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
}

.pagination li:hover {
  background-color: #eee;
}

.pagination .is-active {
  background-color: #007bff;
  color: #fff;
}

/* Activities Section Styles */
.container.my-5 {
  padding-top: 50px;
}

h2 {
  color: #333;
  text-align: center;
  margin-bottom: 30px;
}

.card {
  transition: transform 0.3s ease-in-out;
  position: relative;
  overflow: hidden; /* Hide overflow to prevent unwanted scrolling */
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  height: 200px; /* Adjust the height of activity images */
  object-fit: cover;
  transition: transform 0.3s ease-in-out; /* Add transition for smooth movement */
}

.card:hover img {
  transform: translateY(-20px); /* Move the image 20px up on hover */
}

.card-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.card-text {
  color: #fff; /* Set text color to white */
  opacity: 0; /* Initially hide the description */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s ease-in-out;
  background-color: rgba(
    0,
    0,
    0,
    0.7
  ); /* Semi-transparent black background overlay */
  padding: 10px; /* Add padding for better readability */
  border-radius: 5px; /* Add rounded corners */
}

.card:hover .card-text {
  opacity: 1; /* Display the description on hover */
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

/* Single Page  */
/* Main Content */
#main-content {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Post Container */
.post-container {
  margin-bottom: 30px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.post-content h3 {
  color: #333;
}

.post-information {
  margin-bottom: 15px;
}

.post-information span {
  margin-right: 15px;
  color: #888;
}

.single-feature-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-top: 20px;
}

.description {
  color: #555;
  line-height: 1.6;
}

/* Sidebar */
#sidebar {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

#sidebar h4 {
  color: #1a1a1a;
  font-size: 17px;
  line-height: 27px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0 0 0 5px;
  margin: 0 0 21px;
  border-left: 3px solid #1e90ff;
}

#sidebar .search-box-container {
  background-color: #fff;
  padding: 20px;
  margin: 0 0 30px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13);
}

#sidebar .search-post {
  padding: 0;
}

#sidebar .search-post input {
  color: #606060;
}

#sidebar .search-post input:focus {
  box-shadow: none;
  border-color: #999;
}

#sidebar .search-post .btn {
  font-weight: 600;
  text-transform: uppercase;
  padding: 6px 8px;
  background-color: #1e90ff;
  border-color: #1e90ff;
  outline: none;
}

#sidebar .search-post .btn:hover,
#sidebar .search-post .btn:focus {
  text-shadow: 0 0 3px #333;
}

#sidebar .search-post i.fa {
  font-size: 16px;
  color: #999999;
  line-height: 40px;
  float: right;
}

#sidebar .recent-post-container {
  padding: 20px;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13);
}

#sidebar .recent-post {
  border-bottom: 1px solid #e7e7e7;
  padding: 0 0 15px;
  margin: 0 0 15px;
}

#sidebar .recent-post:last-child {
  margin: 0;
  padding: 0;
  border: none;
}

#sidebar .recent-post .post-img {
  display: inline-block;
  width: 33%;
  border: 3px solid rgba(0, 0, 0, 0.3);
  vertical-align: top;
  transition: border 0.3s;
}

#sidebar .recent-post .post-img:hover {
  border: 3px solid #1e90ff;
}

#sidebar .recent-post .post-img img {
  width: 100%;
}

#sidebar .recent-post .post-content {
  width: 65%;
  display: inline-block;
  border: none;
  padding: 0 0 0 7px;
  margin: 0;
}

#sidebar .recent-post h5 {
  font-size: 14px;
  line-height: 20px;
  margin: 0 0 5px;
}

#sidebar .recent-post h5 a {
  color: #1e90ff;
}

#sidebar .recent-post span {
  color: #666;
  font-size: 11px;
  display: inline-block;
  margin: 0 5px 10px 0;
}

#sidebar .recent-post span a {
  color: #666;
}

#sidebar .recent-post span i {
  color: #1e90ff;
}

#sidebar .recent-post a.read-more {
  color: #666;
  background-color: rgba(0, 0, 0, 0.09);
  width: 65px;
  font-size: 11px;
  text-align: center;
  padding: 0;
  display: block;
  transition: all 0.3s;
}

#sidebar .recent-post a.read-more:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

/* Additional Styles */
.search-box-container h4 {
  color: #333;
  margin-bottom: 10px;
}

.search-post .input-group {
  margin-bottom: 15px;
}

.search-post .btn {
  border-radius: 4px;
}

.recent-post-container h4 {
  color: #333;
  margin-bottom: 10px;
}

.recent-post {
  margin-bottom: 20px;
}

.recent-post img {
  display: inline-block;
  width: 30%;
  height: auto;
  border-radius: 4px;
  border: 1px solid #ddd;
  vertical-align: top;
  transition: border 0.3s;
}

/* Footer */
footer {
  background-color: #4981b3;
  padding: 20px 0;
  text-align: center;
  border-top: 1px solid #dee2e6;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .post-container,
  #sidebar {
    margin-left: 0;
    margin-right: 0;
  }
}
.card {
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.activity-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.activity-description {
  font-size: 16px;
  line-height: 1.6;
  color: #555;
}

/* Additional Styles for Login Page */
body.login-signup-body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-image: url('../img/BG/bg-2.JPG');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#login-card {
  background-color: rgba(255, 255, 255, 0.8); /* Adding a semi-transparent white background to the card */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  border-radius: 8px;
}

#login-card form {
  display: flex;
  flex-direction: column;
}

#login-card label,
#login-card input,
#login-card button {
  margin-bottom: 16px;
}

#login-card label {
  margin-bottom: 8px;
}

#login-card input {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

#login-card a {
  color: #007bff;
  text-decoration: none;
}

#login-card button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#login-card button:hover {
  background-color: #0056b3;
}



